body{
  background-color: #111111;
}
h1{
  color: #FFFFFF;
  font-family: "Press Start 2P", "consolas", sans-serif;
p{
  color: #FFFFFF;
  font-family: "consolas", sans-serif;
  font-weight: bold;
}
footer {
  color: #ffffff;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  text-shadow: 1px 1px #000;
}
